body {
    background: lightgrey;
}

section {
    background: white;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    background: white;
}
  
.navbar-brand {
    display: inline-block;
    font-size: 20pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    background: #4aaaa5;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
    position: absolute;
}

h1 {
    font-size: 30px;
    color: #4aaaa5;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 22px;
    color: #4aaaa5;
}

.col-md-8 {
    padding: 20px;
}

.col-md-4 {
    padding: 20px;
}

p {
    line-height: 2;
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

#figure {
    position: relative;
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 20px;
}

#plot-image {
    width: 300px;
    height: 250px;
    float: left;
}

#plot-image2 {
    width: 150px;
    height: 125px;
}

#plot-image3 {
    width: 150px;
    height: 125px;
    float: unset;
}

#plot-image4 {
    width: 600px;
    height: 500px;
}